*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:linear-gradient(#7b3457,#d17a9c);
    height:170px;
    position:relative;
}

.logo-section{
    padding:25px;
    color:white;
}

.logo{
    width:75px;
    height:75px;
    object-fit:contain;
    background:white;
    padding:8px;
}

.logo-section h1{
    position:absolute;
    top:35px;
    left:125px;
    font-size:32px;
}

.logo-section p{
    position:absolute;
    top:78px;
    left:128px;
    font-size:17px;
}

nav{
    background:#777;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    position:relative;
}

nav ul li a{
    color:white;
    text-decoration:none;
    display:block;
    padding:15px 50px;
}

nav ul li:hover{
    background:#b02b57;
}

.dropdown{
    display:none;
    position:absolute;
    background:#8f2450;
    width:180px;
    z-index:1;
}

.dropdown li{
    width:100%;
}

.dropdown li a{
    padding:15px;
    color:white;
}

nav ul li:hover .dropdown{
    display:block;
}

.dropdown li:hover{
    background:#d45b83;
}

.container{
    background:
    url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d?auto=format&fit=crop&w=1500&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    gap:20px;
    padding:80px;
}

.box{
    background:white;
    width:320px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.4);
}

.box h2{
    text-align:center;
    margin-bottom:20px;
    color:#7b3457;
}

label{
    font-weight:bold;
}
input[type=text],
input[type=email],
input[type=password]{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:5px;
}

input[type=submit]{
    width:100%;
    padding:12px;
    border:none;
    background:#b02b57;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

input[type=submit]:hover{
    background:#7b1838;
}
footer{
    background:#f7deb4;
    text-align:center;
    padding:20px;
    font-size:18px;
    line-height:1.8;
}
@media(max-width:768px){
    header{
        height:auto;
        text-align:center;
    }
    .logo-section{
        padding:20px;
    }
    .logo-section h1,
    .logo-section p{
        position:static;
        margin-top:10px;
    }
    .logo-section h1{
        font-size:26px;
    }
    nav ul{
        flex-direction:column;
    }
    nav ul li a{
        text-align:center;
        padding:14px;
    }
    .dropdown{
        position:static;
        width:100%;
    }
    .container{
        flex-direction:column;
        align-items:center;
        padding:50px 20px;
    }
    .box{
        width:100%;
        max-width:350px;
    }
}